@media screen and (max-height: 450px) {
  .sidenav {padding:top 15px;}
  .sidenav a, .sidenav button {font-size: 18px;}
}

body {
  background-color: #202020;
}

#userInfo, #homepage,
.book-container, .book, 
#book_price, #buy,
.cart_div, #contact{
  display: none;
  margin-left: 160px;
  padding: 0px 10px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a, .navbar button { 
  float: left;
  display: block;
  color: #84C9FB;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar-right {
  float:right;
}

/*
.sidenav a, .sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidnav a:hover, .sidenav button:hover {
  color: #f1f1f1;
}
*/

h1 {
  color: #84C9FB;
  margin-top: 10%;
}

.cart_div {
  color: #84C9FB;
  font-size: 20px;
}

.book-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  position: absolute;
  margin-top: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.book {
  background-color: #282828;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

#welcome, #homepage, #userInfo, .view_cart, .cart_div, #contact {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #282828;
  border: 5px solid #181818;
  padding: 10px;
}

#booklist {
  margin-bottom: 10%;
}

.button {
  border: none;
  color: #84C9FB;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 15px;
  background-color: #202020;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

