<!DOCTYPE html>
<html>
    <head>
	     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	     <link rel = "stylesheet" href = "/static/bookstore_style.css"/>
    </head>
    <body>
	 <script>

	    	var user_jwt; /* user token */	
		var user_state;
		const book_selection = new Map();
		const currState = {NEWUSER: "newuser", USER: "user" };
		
		/*=================================================================================*/
					/*Methods that are strictly for server call*/
		/*=================================================================================*/

		function checkCreds(){

			name = $('#username').val();
			pwd = $('#password').val();

			$.post('/userState',
			{ 
			  state: user_state,
			  username: name,
			  password: pwd
			},
			function(data, status){	

			  	var isValidToken = data.validJWT;
				console.log("IsValidToken: " + isValidToken);

				if (isValidToken) {
				  user_jwt = data.message;
				  $('#userInfo').hide();
				  getValidToken();
				}
				else{
				  alert(JSON.stringify(data['message']));
				}
			});	
				
		};
		
		function getValidToken() {
			$.get('/validToken', {
			
				"jwt" : user_jwt
			},
			function(data, status) {
		  	  
				var tokenisValid = data.validToken;  
		  	  	console.log("Token is Valid: " + tokenisValid);

			  	if (tokenisValid) {
					populateBooks();
				}
				else {
					alert("Invalid Credentials, try again!");
				}
			
		  	});
		};

		/*=================================================================================*/
			/*Receives a JSON object containing all the books available to purchase*/
		/*=================================================================================*/
		
		function populateBooks(){
			$.getJSON("/populateBookList", function(data) {
		 					
				bookList = data.Books
				console.log(bookList);

				for (let i = 0; i <bookList.length; i++) {
					name = bookList[i]['name'];
					price = bookList[i]['price'];
					book_selection.set('Book' + i, {book_name: name, book_price: price})
					book_selection.set('Book' + i, {book_name: name, book_price: price})
					$('.book').eq(i).append("<br><br> " + book_selection.get('Book' + i).book_name + "<br><br> "
								+ "Price: " + '$' + book_selection.get('Book' + i).book_price);
					$('.book').show();
					$('#signup').hide();
				}

			});

		};
 		

		/*=================================================================================*/ 
				/*Methods that are stricly used to manipulating DOM objects*/
		/*=================================================================================*/ 

		$(document).ready(function () {

			$('.signupbtn').on('click', function(){
				user_state = currState.NEWUSER;
				$('#userInfo').show();
				$('#welcome').hide();
			});


			$('.loginbtn').on('click', function(){
				user_state = currState.USER;
				$('#welcome').hide();
				$('#userInfo').show();
			});

			$('.buy').on('click', function(){
				var selectedBook = $('#booklist').find(":selected").text();

				$.get('/getBooks', {
					'jwt': user_jwt,
					'book': selectedBook
				},
				function(data, status) {
					
					var purchaseComplete = data.Book_Purchased;
					if (purchaseComplete) {
						alert("Book Purchased");
					}
					else {
						alert("Purchase Unsuccessful");
					}
				});
			});

		});

		

	</script>
	<div class = "navbar">
		<a href = "/">Home</a>
		<a href>Store</a>
		<!--<a href = "/contact">Contact</a>-->
		<div class = "navbar-right"><a href = '/buy'>Add to Cart</a></div>
	</div>
	<div id = "welcome">
		<h1>Welcome to Neitherstone Norwood Books!</h1>
		<button class = "button signupbtn">Sign Up!</button>
		<button class = "button loginbtn">Login!</button>
	</div>
	<div id = "userInfo">
  		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
  		<label for="password">Password:</label>
  		<input type="password" id="password" name="password"><br><br>
  		<input type="submit" value="Submit" class = "button" onclick = "checkCreds();" >
	</div>
	<div id = "homepage">
		<h1 id = "home_greeting"></h1>
		<button class = "button viewBooks">View Books</button>
	</div>	
	<div class = "book-container">
		<div class = "book"><img src = "{{media}}/HP1.jpg" width = "200" height = "200"></div>
		<div class = "book"><img src = "{{media}}/HP2.jpg" width = "200" height = "200"></div>
		<div class = "book"><img src = "{{media}}/HP3.jpg" width = "200" height = "200"></div>
		<div class = "book"><img src = "{{media}}/HP4.jpg" width = "200" height = "200"></div>
		<div class = "book"><img src = "{{media}}/HP5.jpg" width = "200" height = "200"></div>
		<div class = "book"><img src = "{{media}}/HP6.jpg" width = "200" height = "200"></div>
		<div class = "book"><img src = "{{media}}/HP7.jpg" width = "200" height = "200"></div>
		<div class = "book"><img src = "{{media}}/HPBundle.jpg" width = "200" height = "200"></div>
		<div class = "book"><img src = "{{media}}/HPFilmVaultSeries.jpg" width = "200" height = "200"><div>
	</div>
    </body>
</html>
